/*
    Full Sail University
    AVF1209 :: MDVBS-O
    Andrew Phillips
    Project 1
*/


html{
	background-image: url("../images/wood_floor.png");
}

#crudBtns {
	color: #FFF;

}
div{
	margin-top: 10px;
}
h1,h2,h3{
	margin: 1px;
	height: auto;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	margin-bottom: 2px;
	  padding: 20px 0;
}
h4{
	color: #000000;
	padding: 5px;
}

a{
	text-decoration: none;
	color: #FFF;
}

dt {
	margin: 1px;
	font-size: 14px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;

}

dl {
	text-align: left;
	line-height: 20px;
}

ul {
	list-style: none;
}
header{
	margin:1px;
	margin-bottom: 25px;
	border-radius: 10%;
	padding:5px;
	text-shadow: 0px 1px 0px #000000;
	background: #4C646B;
	font-family: Arial, Helvetica, sans-serif;
	font-size:  14px;
	font-weight:bolder;
	text-align: center;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;	
	border-radius:  5px;
	-moz-box-shadow: 10px 10px 17px #0a0a0a;
	-webkit-box-shadow: 10px 10px 17px #0a0a0a;
	box-shadow: 10px 10px 17px #0a0a0a;

}


section{
	margin:1px;
	margin-bottom: 25px;
	border-style:none ;
	border-radius: 10px 10px 10px 10px;
	border-color: #F8520F;
	padding:5px;
	text-shadow: 0px 1px 0px #000000;
	background: #F8520F;
	font-family: 'Courier', Courier New, monospace;
	font-size:  14px;
	font-weight:bolder;
	text-align: center;
	width: 100%;
  	color: #333;
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;	
	border-radius:  5px;
	-moz-box-shadow: 10px 10px 17px #0a0a0a;
	-webkit-box-shadow: 10px 10px 17px #0a0a0a;
	box-shadow: 10px 10px 17px #0a0a0a;
}
.content{
	background-color: #FFF7F5;
	border-radius: 10px;
	border: inset;
	padding: 16px;
}




/* =================================SoundCloud styling==================================== */


/* --------------soundcloud horizontal player styling ------------ */

.sc-player {
  width: 100%;
  height: 270px;
  position: relative;
  margin-bottom: 20px;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  width: 50%;
  height: 100%;
  background-color: #transparent;
  list-style-type: none;
  position: relative;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.sc-no-artwork {
  display: none;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  z-index: 800;
  width: 100%;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
  left: 25%;
}

.sc-player .sc-controls a{
  display: block;
  width: 50px;
  height: 50px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}



/* scrubber */

.sc-scrubber {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 40px;
  width: 250px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.30);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.30);
  display: block;
  z-index: 600;
}

.sc-scrubber .sc-time-span{
  height: 30px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 30px;
  position: absolute;
  top: 0;
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
}
.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -30px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist {
  position: absolute;
  float: left;
  width: 50%;
  height: 260px;
  top: 5px;
  left: 50%;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  cursor: pointer;
  margin: 1px 5px;
  padding: 3px 30px 3px 5px;
  position: relative;
}

.sc-player ol.sc-trackslist li span {
  position: absolute;
  right: 0;
  top: 3px;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: 10px;
  left: -5000px;
  width : 400px;
  padding: 5px;
  height: 200px;
  z-index: 500;
  margin-left: -200px;
}

.sc-player .sc-info.active{
  left: 50%;
  top: 12%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  position: absolute;
  top: 10px;
  right: 20px;
}

/* volume control */
.sc-volume-slider {
  top: -25px;
  left: 0px;
  position: absolute;
  width: 110px;
  height: 12px;
  background-color: white;
}
.sc-volume-slider .sc-volume-status{
  position: absolute;
  width: 0%;
  height: 10px;
  top: 1px;
  left: 1px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}



/*--------------- soundcloud standards --------------------------*/

.post {
width: 540px;
float: left;
}

.sidebar {
float: right;
width: 200px;
padding-left: 10px;
padding-bottom: 20px;
margin-right: 10px;
border-left: 1px dotted #000;
}

.footer {
  float: left;
  width: 800px;
  border-top: 1px dotted #000;
  padding: 10px 0;
  text-align: right;
}

/* ------------------soundcloud orange player ------------*/
.sc-player {
  font: 12px Arial, sans-serif;
  background-color: #eee;
  background: -moz-linear-gradient(top, black, #ccc 0px, #fff 70%);
  background: -webkit-gradient(linear, left top, left 70%, from(black), color-stop(0%, #ccc), to(#fff));
  color: #333;
  font-size: 0.6em;
  line-height: 1.6em;
}

.sc-player a {
  text-decoration: none;
  color: #333;
}

/* Artworks */

.sc-player .sc-artwork-list{
  background: #eee;
  background: -moz-linear-gradient(left bottom, #EEEEEE 20px, #333333 350px) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, right top, left bottom, from(#333), to(#eee));
}

/* scrubber */

.sc-scrubber {
  background-color: #E5E5E5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 30px;
  width: 100%;
  background-color: #003399;
  background: -moz-linear-gradient(top, black, #e74c14 0px, #f6a400 90%);
  background: -webkit-gradient(linear, left top, left 90%, from(black), color-stop(0%, #e74c14), to(#f6a400));
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #333;
  opacity: 0.4;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('img/play-orange.png');
}

.sc-player .sc-controls a:hover {
  background: url('img/play-orange-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('img/play-orange.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('img/play-orange-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('img/pause-orange.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('img/pause-orange-hover.png');
}  

.sc-scrubber .sc-time-indicators{
  background: #f6a400;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

/* Track listings*/

.sc-player ol.sc-trackslist li.active {
  color: #fff;
  background: #e74c14;
}

.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
}

.sc-player ol.sc-trackslist li:hover {
  background-color: #f6a400;
}

.sc-player ol.sc-trackslist li.active a {
  color: #fff;
}

.sc-track-duration {
  text-align: right;
  float: right;
  padding: 0 5px;
  margin-left: 5px;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle{
  background: #f6a400;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 4px;
}

.sc-player .sc-info-toggle:hover{
  background: #fff;
  color: #e74c14;
}

.sc-player .sc-info-close{
  background: #f6a400;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

.sc-volume-slider {
  background-color: #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


.sc-volume-slider .sc-volume-status{
  background-color: #666;
  border-right: 1px solid #f6a400;
}





/* button styling
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 4px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 10px 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}








/* -----gray button------*/
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #233138;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}







/* ---Fluid Design ---*/

/* DEFAULT MOBILE STYLE */
body {width: 92%; margin: 0 auto}
/* column grid */
.g1,.g2{display:block; position: relative; margin-left: 1%; margin-right: 1%}
/* 1 column grid */
.g1,.g2{width:98.0%}

/* TABLET */
@media only screen and (min-width: 769px) { 
	body {
		
	}
	
	/* COLUMN GRID */
	.g1,.g2{display:inline; float: left}
	
	/* 2 COLUMN GRID */
	.g1 {width:48.0%}
	.g2 {width:48.0%}
}

